html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 2rem;
    padding: 0;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    user-select: none;
}

.menu-checkbox {
    display: none;
}

.list {
    list-style-type: none;
    margin-top: .5rem;
    margin-left: 0rem;
    padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    /* Transition for smooth animation - Ease in and out */
}

.menu-checkbox:checked~.list {
    opacity: 1;
    max-height: 200px;
}

.list>li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 6rem;
    height: 2rem;
    padding: .1rem;
    background-color: rgb(202, 201, 201);
}

.list>li:before {
    content: "\3A\3A";
    position: absolute;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.list>li:hover {
    background-color: black;
}

.list>li>a {
    text-decoration: none;
    color: white;
}